//primary accent color
$primary: #EC1F46
//light background color
$secondary: #F5FAFE
//dark background color
$dark: #0A223D
//primary text color
$text-color: #333333
//white text color
$light-text: #FFFFFF
//footer text color
$footer-text: #BDBDBD
//font Muli bold
$Muli-bold: 'Muli-bold', sans-serif
